<h2>Manage group layers</h2>
<uib-tabset active="active" ng-init="init()">
    <uib-tab index="0" heading="Layer list" active="tabs[0].active">
        <table class="table table-striped">
            <tr>
                <th>ID#</th>
                <th>Group name</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="gl in data.groupLayers| orderBy : 'groupname'">
                <td>{{gl.id}}</td>
                <td>{{gl.groupname}}</td>
                <td>
                    <button class="btn" ng-click="edit(gl)">Edit</button>
                    <button class="btn" ng-click="delete(gl.id)">Delete</button>
                </td>
            </tr>
        </table>
    </uib-tab>
    <uib-tab index="1" heading="Create/edit group layer" active="tabs[1].active">
        <form ng-submit="save()">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label for="type" class="control-label">Group layer name</label>
                        <input type="text" class="form-control" id="type" ng-model="data.currentGroupLayer.groupname" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label for="type" class="control-label">Description</label>
                        <textarea class="form-control" id="type" ng-model="data.currentGroupLayer.description" required></textarea>
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-6">
                    <h4>Available layers</h4>
                    <table class="table table-striped">
                        <tr>
                            <th>ID#</th>
                            <th>Layer</th>
                            <th>Actions</th>
                        </tr>
                        <tr ng-repeat="lyr in data.layers| orderBy : 'layername'">
                            <td>{{lyr.id}}</td>
                            <td>{{lyr.layername}}</td>
                            <td>
                                <button type="button" class="btn" ng-click="addLayer(lyr)">Add</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <h4>Layers in group</h4>
                    <table class="table table-striped">
                        <tr>
                            <th>ID#</th>
                            <th>Layer</th>
                            <th>Actions</th>
                        </tr>
                        <tr ng-repeat="lyr in data.currentGroupLayer.layers| orderBy : 'layername'">
                            <td>{{lyr.idlayer}}</td>
                            <td>{{lyr.layername}}</td>
                            <td>
                                <button type="button" class="btn" ng-click="removeLayer($index)">Remove</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="button" class="btn btn-primary" value="Clear" ng-click="resetCurrent()">
                    <input type="submit" ng-if="isUpdate()" class="btn btn-primary" value="Update">
                    <input type="submit" ng-if="!isUpdate()" class="btn btn-primary" value="Create">
                </div>
            </div>
        </form>
    </uib-tab>
</uib-tabset>