<h2>Manage functions</h2>
<uib-tabset active="active" ng-init="init()">
    <uib-tab index="0" heading="Function list" active="tabs[0].active">
        <table class="table table-striped">
            <tr>
                <th>ID#</th>
                <th>Function name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="f in data.functions| orderBy : 'functionname'">
                <td>{{f.idfunction}}</td>
                <td>{{f.functionname}}</td>
                <td>{{f.description}}</td>
                <td>
                    <button class="btn" ng-click="edit(f)">Edit</button>
                    <button class="btn" ng-click="delete(f.idfunction)">Delete</button>
                </td>
            </tr>
        </table>
    </uib-tab>
    <uib-tab index="1" heading="Create/edit function" active="tabs[1].active">
        <form ng-submit="save()">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label for="type" class="control-label">Function name</label>
                        <input type="text" class="form-control" id="type" ng-model="data.currentFunction.functionname" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label for="description" class="control-label">Description</label>
                        <textarea
                            class="form-control"
                            id="description"
                            ng-model="data.currentFunction.description">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label for="functionType" class="control-label">Type</label>
                        <select type="text"
                                class="form-control"
                                ng-options= "func as func for func in $root.data.functionTypes"
                                id="functionType"
                                ng-model="data.currentFunction.type">
                            <option value="">Please select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label for="type" class="control-label">Organization</label>
                        <select type="text" class="form-control" id="type" ng-model="data.currentFunction.organization">
                            <option value="">Please select</option>
                            <option ng-repeat="or in data.organizations| orderBy : 'organizationname'" value="{{+or.id}}">{{or.organizationname}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="button" class="btn btn-primary" value="Clear" ng-click="resetCurrent()">
                    <input type="submit" ng-if="isUpdate()" class="btn btn-primary" value="Update">
                    <input type="submit" ng-if="!isUpdate()" class="btn btn-primary" value="Create">
                </div>
            </div>
        </form>
    </uib-tab>
</uib-tabset>