<h1>Add new datasource</h1>
<div class="row">
    <div class="col-md-4">
        <div class="form-group required">
            <label for="type" class="control-label">Data source type</label>
            <select type="text" class="form-control" id="type" ng-model="dataSource.type" required>
                <option value="">Please select</option>
                <option ng-repeat='t in $root.data.dataSourceTypes' value='{{t.type}}'>{{t.name}}</option>
            </select>
        </div>
    </div>
</div>
<div class="row" ng-if="dataSource.type === 'WMS' || dataSource.type === 'WFS' || dataSource.type === 'KML' || dataSource.type === 'GeoJSON'">
    <div class="col-md-8">
        <div class="form-group">
            <label for="url" class="control-label">URL</label>
            <input type="url" class="form-control" id="url" ng-model="dataSource.url">
        </div>
    </div>
</div>
<div class="row" ng-if="dataSource.type === 'DB'">
    <div class="col-md-8">
        <div class="form-group">
            <label for="ipandport" class="control-label">IP-address / port number</label>
            <input type="ipandport" class="form-control" id="ipandport" ng-model="dataSource.ipandport">
        </div>
    </div>
</div>
<div class="row" ng-if="dataSource.type === 'WMS' || dataSource.type === 'WFS' || dataSource.type === 'KML' || dataSource.type === 'GeoJSON' || dataSource.type === 'DB'">
    <div class="col-md-4">
        <div class="form-group">
            <label for="protocol" class="control-label">Protocol</label>
            <select class="form-control" id="protocol" ng-model="dataSource.protocol" required>
                <option value="">Please select</option>
                <option value="HTTP">HTTP</option>
                <option value="HTTPS">HTTPS</option>
                <option value="TCP/IP">TCP/IP</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="testConnection" class="control-label"></label>
            <input type="button" class="form-control btn btn-primary" id="testConnection" value="Test connection">
        </div>
    </div>
</div>    
<div class="row" ng-if="dataSource.type === 'WMS' || dataSource.type === 'WFS' || dataSource.type === 'DB'">
    <div class="col-md-4">
        <div class="form-group">
            <label for="user">User</label>
            <input type="text" class="form-control" id="user" ng-model="dataSource.user">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="dataSource.password">
        </div>
    </div>
</div>
<div class="row" ng-if="dataSource.type === 'Shape'">
    <div class="col-md-4">
        <span class="btn btn-default btn-file">
            Browse for *.shp file <input type="file">
        </span>
    </div>
    <div class="col-md-4">
        <span class="btn btn-default btn-file">
            Browse for *.shx file <input type="file">
        </span>
    </div>
    <div class="col-md-4">
        <span class="btn btn-default btn-file">
            Browse for *.dbf file <input type="file">
        </span>
    </div>
</div>
<h4>Debug: Show JSON created by form entry</h4>
<p>
    {{dataSource|json}}    
</p>