<script type="text/ng-template" id="group-template.html">
    <div class="list-group">
    <a href tabindex="0" class="list-group-item active accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
    <span ng-class="{'text-muted': isDisabled}">
    {{heading}}
    <span class='caret'></span>
    </span>
    </a>
    <div uib-collapse="!isOpen">
    <div ng-transclude>
    </div>
    </div>
    </div>
</script>

<div class="container">
    <img src="images/gsc-logo.png" height="50" align="right"/>
    <div class="page-header">
        <h1>Data Catalogue</h1>
    </div>
</div>

<nav class="admBoard-menuBar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admboard-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand home" href="#/app/dbrdOverallStatistics/">Home</a>
        </div>
        <div ng-if="authSvc.isAuth().success === true">
            <span class="navbar-brand username">
                Logged in as {{authSvc.authUsr.username}} | <a ng-click="authSvc.logout()">Logout</a>
            </span>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<br/>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="alert alert-warning alert-dismissible" role="alert" ng-if="$root.data.messages.warning !== ''">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong> {{$root.data.messages.warning}}
            </div>
            <div class="alert alert-success alert-dismissible" role="alert" ng-if="$root.data.messages.info !== ''">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Info: </strong> {{$root.data.messages.info}}
            </div>
        </div>
        <div class="col-md-2">
        </div>        
    </div>
    <div class="row">
        <div class="col-md-3" ng-if="authSvc.isAuth().success === true">
            <label>Menu</label>
            <uib-accordion close-others="false">
                <uib-accordion-group heading="User options" is-open="true" template-url="group-template.html">
                    <div class="list-group-item">
                        <div class="form-group">
                            <label for="currentUserOrganization" class="control-label">Current organization</label>
                            <select type="text" class="form-control" id="currentPermissionLayer" ng-model="$root.data.authUser.organizationId"
                                    ng-options="or.id as or.organizationname for or in $root.data.authUser.organizations | orderBy : 'organizationname'"
                                    ng-change="redirect()">
                            </select>
                        </div>
                    </div>                    
                </uib-accordion-group>
                <uib-accordion close-others="false">
                    <uib-accordion-group heading="Data management" is-open="true" template-url="group-template.html">
                        <a ui-sref="app.createDataSource" class="list-group-item">
                            <span class='glyphicon glyphicon-plus-sign'></span>
                            Manage data sources
                        </a>
                        <a ui-sref="app.createDataSet" class="list-group-item">
                            <span class='glyphicon glyphicon-plus-sign'></span>
                            Manage data sets
                        </a>
                        <a ui-sref="app.createLayer" class="list-group-item">
                            <span class='glyphicon glyphicon-plus-sign'></span>
                            Manage layers
                        </a>
                        <a ui-sref="app.createGroupLayer" class="list-group-item">
                            <span class='glyphicon glyphicon-plus-sign'></span>
                            Manage group layers
                        </a>
                        <!--                    <a ui-sref="app.uploadGml" class="list-group-item">
                                                <span class='glyphicon glyphicon-plus-sign'></span>
                                                Upload GML files
                                            </a>-->
                    </uib-accordion-group>
                    <uib-accordion-group heading="Administration" is-open="true" template-url="group-template.html">
                        <a ui-sref="app.createUser" class="list-group-item">
                            <span class='glyphicon glyphicon-plus-sign'></span>
                            Manage users
                        </a>
                        <a ui-sref="app.createRole" class="list-group-item">
                            <span class='glyphicon glyphicon-plus-sign'></span>
                            Manage roles
                        </a>
                        <a ng-if="authSvc.canAssignUserToRole()" ui-sref="app.createRoleMembership" class="list-group-item">
                            <span class='glyphicon glyphicon-plus-sign'></span>
                            Manage role membership
                        </a>
                        <a ng-if="authSvc.canCreateOrganization()" ui-sref="app.createOrganization" class="list-group-item">
                            <span class='glyphicon glyphicon-plus-sign'></span>
                            Manage organizations
                        </a>
                        <a ui-sref="app.createFunction" class="list-group-item">
                            <span class='glyphicon glyphicon-plus-sign'></span>
                            Manage functions
                        </a>
                        <a ng-if="authSvc.canAssignPermissionToRole()" ui-sref="app.createPermission" class="list-group-item">
                            <span class='glyphicon glyphicon-plus-sign'></span>
                            Manage permissions
                        </a>
                        <a ui-sref="app.createApplication" class="list-group-item">
                            <span class='glyphicon glyphicon-plus-sign'></span>
                            Manage applications
                        </a>
                    </uib-accordion-group>
                </uib-accordion>
        </div>
        <div class="col-md-9">
            <div ui-view="content" class="adm-form-bg"></div>
        </div>
    </div>
    <hr>
    <footer>
        <div class="text-center">
            <p>&copy; 2015-2016 SINERGIS and AVINET on behalf of GeoSmartCity Partners. Project co-funded by the European Commission</p>            
        </div>
    </footer>
</div>