<h2>Manage users</h2>
<uib-tabset active="active" ng-init="init()">
    <uib-tab index="0" heading="User list" active="tabs[0].active">
        <table class="table table-striped">
            <tr>
                <th>ID#</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="us in data.users| orderBy : 'username'">
                <td>{{us.id}}</td>
                <td>{{us.username}}</td>
                <td>{{us.email}}</td>
                <td>
                    <button class="btn" ng-click="edit(us)">Edit</button>
                    <button class="btn" ng-click="delete(us.username)">Delete</button>
                </td>
            </tr>
        </table>
    </uib-tab>
    <uib-tab index="1" heading="Create/edit users" active="tabs[1].active" deselect="resetUser()">
        <form ng-submit="save()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label for="type" class="control-label">E-mail</label>
                        <input type="email" class="form-control" id="type" ng-model="data.user.email" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label for="type" class="control-label">Username</label>
                        <input type="text" class="form-control" id="type" ng-model="data.user.username" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label for="type" class="control-label">Password</label>
                        <input type="password" class="form-control" id="type" ng-model="data.user.password" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label for="type" class="control-label">Confirm password</label>
                        <input type="password" class="form-control" id="type" ng-model="data.user.confirmpassword" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label for="type" class="control-label">Organization</label>
                        <select type="text" class="form-control" id="type" ng-model="data.user.organizationId">
                            <option value="">Please select</option>
                            <option ng-repeat="or in data.organizations| orderBy : 'organizationname'" value="{{or.id}}">{{or.organizationname}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </div>
        </form>
    </uib-tab>
</uib-tabset>