<h2>Manage permissions</h2>
<uib-tabset ng-init="init()">
    <uib-tab index="0" heading="Role list" active="tabs[0].active">
        <table class="table tab-striped">
            <tr>
                <th>ID#</th>
                <th>Role</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="r in data.roles| orderBy : 'rolename'" show="data.roles.length > 0">
                <td>{{r.id}}</td>
                <td>{{r.rolename}}</td>
                <td>{{r.description}}</td>
                <td>
                    <button type="button" class="btn" ng-click="assignPermissions(r)">Assign permissions</button>
                </td>
            </tr>
        </table>
    </uib-tab>
    <uib-tab index="1" heading="Add permissions to role" active="tabs[1].active">
        <form ng-submit="save()">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label for="type" class="control-label">Role name</label>
                        <input type="text" class="form-control" id="type" ng-model="data.currentRole.rolename" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group required">
                        <label for="type" class="control-label">Function</label>
                        <select type="text" class="form-control" id="type" ng-model="data.currentPermission.idfunction" required>
                            <option value="">Please select</option>
                            <option ng-repeat="f in data.functions| orderBy : 'functionname'" value="{{f.idfunctino}}">{{f.functionname}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="type" class="control-label">Layer</label>
                        <select type="text" class="form-control" id="type" ng-model="data.currentPermission.idlayer" required>
                            <option value="">Please select</option>
                            <option ng-repeat="l in data.layers" value="{{l.idlayer}}">{{l.layername}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="type" class="control-label">Application</label>
                        <select type="text" class="form-control" id="type" ng-model="data.currentPermission.idapplication" required>
                            <option value="">Please select</option>
                            <option ng-repeat="a in data.applications" value="{{a.idapplication}}">{{a.applicationname}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <input type="button" class="btn btn-primary" value="Assign permission">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="button" class="btn btn-primary" value="Clear" ng-click="resetCurrent()">
                    <input type="submit" ng-if="isUpdate()" class="btn btn-primary" value="Update">
                    <input type="submit" ng-if="!isUpdate()" class="btn btn-primary" value="Create">
                </div>
            </div>
        </form>
    </uib-tab>
</uib-tabset>