<h2>Manage permissions</h2>
<uib-tabset ng-init="init()">
    <uib-tab index="0" heading="Role list" active="tabs[0].active">
        <table class="table table-striped">
            <tr>
                <th>ID#</th>
                <th>Role</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="rl in data.roles| orderBy : 'rolename'" show="data.roles.length > 0">
                <td>{{rl.id}}</td>
                <td>{{rl.rolename}}</td>
                <td>{{rl.description}}</td>
                <td>
                    <button type="button" class="btn" ng-click="assignPermissions(rl)">Assign permissions</button>
                </td>
            </tr>
        </table>
    </uib-tab>
    <uib-tab index="1" heading="Add permissions to role" active="tabs[1].active">
        <form ng-submit="save()">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="type" class="control-label">Role name</label>
                        <input type="text" class="form-control" id="type" ng-model="data.currentRole.rolename" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="currentPermissionFunction" class="control-label">Function</label>
                        <select type="text" class="form-control" id="currentPermissionFunction" ng-model="data.currentPermission.function"
                                ng-options= "func as func.functionname for func in data.functions">
                            <option value="">Please select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="currentPermissionApplication" class="control-label">Application</label>
                        <select type="text" class="form-control" id="currentPermissionApplication" ng-model="data.currentPermission.application"
                                ng-options="app as app.applicationname for app in data.applications">
                            <option value="">Please select</option>
                        </select>
                    </div>                                     
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="type" class="control-label">Actions</label><br/>
                        <input type="button" class="btn btn-primary" value="Add permission" ng-click="addPermission()">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Permissions for role</h4>
                    <table class="table table-striped">
                        <tr>
                            <th colspan="2">Function</th>
                            <th colspan="2">Application</th>
                            <th>Actions</th>
                        </tr>
                        <tr ng-repeat="rl in data.currentRole.functions| orderBy : 'rolename'" show="data.currentRole.functions.length > 0">
                            <td>{{rl.idfunction}}</td>
                            <td>{{rl.functionname}}</td>
                            <td>{{rl.idapplication}}</td>
                            <td>{{rl.applicationname}}</td>
                            <td>
                                <button type="button" class="btn" ng-click="removePermission($index)">Remove</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="button" class="btn btn-primary" value="Clear" ng-click="resetCurrent()">
                    <input type="submit" ng-if="isUpdate()" class="btn btn-primary" value="Save permissions">
                </div>
            </div>
        </form>
    </uib-tab>
</uib-tabset>