<h2>Manage data sources</h2>
<uib-tabset active="active" ng-init="init()">
    <uib-tab index="0" heading="Data source list" active="tabs[0].active">
        <table class="table table-striped">
            <tr>
                <th>ID#</th>
                <th>Data source name</th>
                <th>Type of data source</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="ds in data.dataSources| orderBy : 'datasourcename'">
                <td>{{ds.id}}</td>
                <td>{{ds.datasourcename}}</td>
                <td>{{ds.type}}</td>
                <td>
                    <button class="btn" ng-click="publishToCkan(ds)">Publish</button>                    
                    <button class="btn" ng-click="edit(ds.id)">Edit</button>
                    <button class="btn" ng-click="delete(ds.id)">Delete</button>
                </td>
            </tr>
        </table>
    </uib-tab>
    <uib-tab index="1" heading="Create/edit data source" active="tabs[1].active">
        <form ng-submit="save()">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label for="type" class="control-label">Data source name</label>
                        <input type="text" class="form-control" id="type" ng-model="data.currentDataSource.datasourcename" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label for="type" class="control-label">Data source description</label>
                        <textarea class="form-control" id="type" ng-model="data.currentDataSource.description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label for="type" class="control-label">Organization</label>
                        <select type="text" class="form-control" id="type" ng-model="data.currentDataSource.organization" required>
                            <option value="">Please select</option>
                            <option ng-repeat="or in data.organizations" value="{{or.id}}">{{or.organizationname}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label for="type" class="control-label">Type of data source</label>
                        <select type="text" class="form-control" id="type" ng-model="data.currentDataSource.type" required>
                            <option value="">Please select</option>
                            <option ng-repeat="t in $root.data.dataSourceTypes" value="{{t.type}}">{{t.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="data.currentDataSource.type === 'Shape'">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="path" class="control-label">Path to folder with Shapefiles (include trailing slash)</label>
                        <input type="text" class="form-control" id="path" ng-model="data.currentDataSource.path">
                    </div>
                </div>
            </div>
            <div class="row" ng-if="data.currentDataSource.type === 'WMS' || data.currentDataSource.type === 'WFS' || data.currentDataSource.type === 'KML' || data.currentDataSource.type === 'GeoJSON'">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="url" class="control-label">URL</label>
                        <input type="text" class="form-control" id="url" ng-model="data.currentDataSource.url">
                    </div>
                </div>
            </div>
            <div class="row" ng-if="data.currentDataSource.type === 'PostGIS'">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ipandport" class="control-label">Database host</label>
                        <input type="text" class="form-control" id="url" ng-model="data.currentDataSource.url">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="portnumber" class="control-label">Port number</label>
                        <input type="text" class="form-control" id="portnumber" ng-model="data.currentDataSource.port">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="schema" class="control-label">Schema name</label>
                        <input type="text" class="form-control" id="schema" ng-model="data.currentDataSource.schema">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="schema" class="control-label">Database name</label>
                        <input type="text" class="form-control" id="schema" ng-model="data.currentDataSource.database">
                    </div>
                </div>
            </div>
            <div class="row" ng-if="data.currentDataSource.type === 'WMS' || data.currentDataSource.type === 'WFS' || data.currentDataSource.type === 'PostGIS'">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="user">Username</label>
                        <input type="text" class="form-control" id="user" ng-model="data.currentDataSource.username">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" ng-model="data.currentDataSource.password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">                    
                    <input type="button" class="btn btn-primary" value="Clear" ng-click="resetDataSource()">
                    <input type="submit" ng-if="isUpdate()" class="btn btn-primary" value="Update">
                    <input type="submit" ng-if="!isUpdate()" class="btn btn-primary" value="Create">
                </div>
            </div>
        </form>
    </uib-tab>
</uib-tabset>